html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Saira Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #E6E1DE !important;
}

header {
    flex-direction: row;
}

#humburger {
    margin-left: 20px;
}

/*animation move in left to right the logo and header start*/
.humburgermenu,
.logo-brand,
.jobs,
.subject {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
}

.subject {
    animation-delay: 0.5s;
}

/*the main action*/
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*animation move in left to right the logo and header end*/
/* border website*/
.border-site {
    width: calc(100% - 40px);
    height: auto;
    border: 4px solid #121212;
    margin: 30px 20px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header-logo-and-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo*/
#brand {
    width: 80px;
    height: auto;
    margin-top: -40px;
}

/* icon opportunity */
.jobs {
    width: 120px;
    height: 30px;
    border: 4px solid #121212;
    border-radius: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* text about us start */
.subject {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.gradient-text {
    font-size: 40pt;
    text-align: center;
    background: linear-gradient(60deg, #B6B0A6, #121212);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    width: 100%;
}

/* text about us end*/
/*group picture start*/

.group-pic {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

#group-people {
    max-width: 100%;
    height: auto;
}

.group-pic {
    position: relative;
    overflow: hidden;
}

#group-people {
    position: relative;
    animation: moveUp 1s ease-in-out forwards;
}

/* the main action for group pic*/
@keyframes moveUp {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0);
    }
}

/*details about company start*/
.all-details-about-company {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 3s forwards;
    animation-delay: 0.5s;
}

.details-paragraph {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

#p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
}

/*details about company end*/

/*group picture end*/

/* talk about brand start */
.head {
    text-align: center;
    padding: 10px 0;
    margin-top: -120px;
}

/*people start*/
#boy-one,
#girl-two,
#boy-three,
#girl-four,
#boy-five {
    width: 225px;
    border-radius: 20px;
    height: 450px;
}

.picture-person-one,
.picture-person-two,
.picture-person-three,
.picture-person-four,
.picture-person-five {
    width: 230px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#person-one,
#person-two,
#person-three,
#person-four,
#person-five {
    width: 100%;
    height: 350px;
    background-color: #B6B0A6;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 200px;
}

#person-two,
#person-four {
    background-color: #E6E1DE;
    flex-direction: row;
}

.number-person {
    color: black;
    text-align: center;
}

.introd-person-one,
.introd-person-two,
.introd-person-three,
.introd-person-four,
.introd-person-five {
    width: 50%;
    flex-direction: column;
    display: flex;
    gap: 30px;
}

/*people end*/

/*employee someone start*/
.employee {
    width: 100%;
    height: 400px;
    background-color: #E6E1DE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 50px;
    gap: 50px;
}

/*icon employee*/
#employee {
    transition: 0.5s;
    cursor: pointer;
}

#employee:hover {
    width: 210px;
    height: 210px;
    transition: 0.5s;
    cursor: pointer;
}

/* about oppurtunities start*/
.jobcontainer {
    text-align: left;
    display: none;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 11pt;
}

/* about oppurtunities end*/

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*employee someone end*/

/* about oppurtunities */
/* start responsive for devices smaller than 576px */
@media (max-width: 576px) {

    /*person one*/
    #person-one,
    #person-two,
    #person-three,
    #person-four,
    #person-five {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .picture-person-one,
    .picture-person-two,
    .picture-person-three,
    .picture-person-four,
    .picture-person-five {
        margin-bottom: 20px;
    }

    .introd-person-one,
    .introd-person-two,
    .introd-person-three,
    .introd-person-four,
    .introd-person-five {
        width: 100%;
        gap: 15px;
    }

    #boy-one,
    #girl-two,
    #boy-three,
    #girl-four,
    #boy-five {
        width: 100%;
        max-width: 140px;
        height: auto;
    }

    .number-person {
        font-size: 1.2em;
    }

    .introd-person-one b,
    .introd-person-one p,
    .introd-person-one strong,
    .introd-person-two b,
    .introd-person-two p,
    .introd-person-two strong,
    .introd-person-three b,
    .introd-person-three p,
    .introd-person-three strong,
    .introd-person-four b,
    .introd-person-four p,
    .introd-person-four strong,
    .introd-person-five b,
    .introd-person-five p,
    .introd-person-five strong {
        text-align: center;
    }

    .employee {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        height: auto;
    }

    #employee {
        width: 150px;
        height: 150px;
    }

    #employee:hover {
        width: 160px;
        height: 160px;
    }

    .jobcontainer {
        font-size: 8pt;
        text-align: center;
    }

    #group-people {
        border-radius: 20px;
        width: 300px;
    }

    #humburger {
        margin-top: -30px !important;
        margin-left: 12px !important;
    }

    #brand {
        margin-top: 5px;
    }
}

/* start responsive for devices greater than 577px and smaller than 768px */
@media (min-width: 577px) and (max-width: 768px) {

    #person-one,
    #person-two,
    #person-three,
    #person-four,
    #person-five {
        flex-direction: column;
        padding: 20px;
        height: auto;
    }

    .picture-person-one,
    .picture-person-two,
    .picture-person-three,
    .picture-person-four,
    .picture-person-five {
        margin-bottom: 20px;
    }

    .introd-person-one,
    .introd-person-two,
    .introd-person-three,
    .introd-person-four,
    .introd-person-five {
        width: 100%;
        text-align: center;
    }

    #boy-one,
    #girl-two,
    #boy-three,
    #girl-four,
    #boy-five {
        width: 200px;
        height: 300px;
        border-radius: 20px;
    }

    .number-person {
        font-size: 15pt;
    }

    .introd-person-one b,
    .introd-person-two b,
    .introd-person-three b,
    .introd-person-four b,
    .introd-person-five b {
        font-size: 16pt;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .introd-person-one p,
    .introd-person-two p,
    .introd-person-three p,
    .introd-person-four p,
    .introd-person-five p,
    .introd-person-one strong,
    .introd-person-two strong,
    .introd-person-three strong,
    .introd-person-four strong,
    .introd-person-five strong {
        font-size: 15pt;
    }

    #group-people {
        border-radius: 20px;
        box-shadow: 1px 2px 15px 1px black;
        width: 600px;
    }

    #employee {
        width: 200px;
        height: 200px;
    }

    #employee:hover {
        width: 210px;
        height: 210px;
    }

    #brand {
        margin-top: 21px;
    }
}

/* start responsive for devices greater than 769px and smaller than 992px */
@media (min-width: 769px) and (max-width: 992px) {

    #boy-one,
    #girl-two,
    #boy-three,
    #girl-four,
    #boy-five {
        width: 160px;
        height: 270px;
        border-radius: 15px;
    }

    #person-one,
    #person-two,
    #person-three,
    #person-four,
    #person-five {
        height: 330px;
        padding: 80px;
    }

    .introd-person-one,
    .introd-person-two,
    .introd-person-three,
    .introd-person-four,
    .introd-person-five {
        width: 45%;
        gap: 25px;
    }

    .jobcontainer {
        font-family: Arial, Helvetica, sans-serif;
        height: 400px;
        width: 400px;
    }

    p {
        font-size: 8.75pt;
    }

    #humburger {
        margin-top: -20px;
        margin-left: 20px;
    }

    .picture-person-one,
    .picture-person-two,
    .picture-person-three,
    .picture-person-four,
    .picture-person-five {
        margin-top: 0;
    }
}

/* start responsive for devices greater than 993px and smaller than 1200px */
@media (min-width: 993px) and (max-width: 1200px) {

    #boy-one,
    #girl-two,
    #boy-three,
    #girl-four,
    #boy-five {
        width: 180px;
        height: 290px;
        border-radius: 15px;
    }

    #humburger {
        margin-top: -20px;
        margin-left: 20px;
    }

    #person-one,
    #person-two,
    #person-three,
    #person-four,
    #person-five {
        height: 350px;
        padding: 80px;
    }

    .introd-person-one,
    .introd-person-two,
    .introd-person-three,
    .introd-person-four,
    .introd-person-five {
        width: 45%;
        gap: 25px;
    }

    .jobcontainer {
        font-family: Arial, Helvetica, sans-serif;
        height: 380px;
        width: 400px;
    }

    p {
        font-size: 8.7pt;
    }

    #employee {
        width: 180px;
        height: 180px;
    }

    #employee:hover {
        width: 190px;
        height: 190px;
    }

    #brand {
        margin-top: 21px;
    }

    .picture-person-one,
    .picture-person-two,
    .picture-person-three,
    .picture-person-four,
    .picture-person-five {
        margin-top: 0;
    }
}

/* start responsive for devices greater than 1201px */
@media screen and (min-width: 1201px) {

    #boy-one,
    #girl-two,
    #boy-three,
    #girl-four,
    #boy-five {
        width: 185px;
        height: 290px;
        border-radius: 15px;
    }

    #person-one,
    #person-two,
    #person-three,
    #person-four,
    #person-five {
        height: 350px;
        padding: 80px;
    }

    .introd-person-one,
    .introd-person-two,
    .introd-person-three,
    .introd-person-four,
    .introd-person-five {
        width: 45%;
        gap: 25px;
    }

    .jobcontainer {
        font-family: Arial, Helvetica, sans-serif;
        height: 420px;
        width: 490px;
        margin-top: 30px;
    }

    p {
        font-size: 9.75pt;
    }

    .employee {
        height: 450px;
    }

    #employee {
        width: 180px;
        height: 180px;
    }

    #employee:hover {
        width: 190px;
        height: 190px;
    }

    #brand {
        margin-top: 10px;
        margin-left: 2px;
    }

    #humburger {
        margin-top: -20px;
        margin-left: 20px;
    }

    .picture-person-one,
    .picture-person-two,
    .picture-person-three,
    .picture-person-four,
    .picture-person-five {
        margin-top: 0;
    }

    .details-paragraph {
        width: 80%;
        max-width: 800px;
        text-align: center;
        margin-top: 20px;
    }

    #p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16pt;
        margin-top: 20px;
    }
}