html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Saira Condensed', sans-serif;
    background-color: #EDE9DC !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* black border */
.border-site {
    width: 100%;
    height: 100vh;
    border: 4px solid #121212;
    margin: 50px;
    display: flex;
 
}
