body {
    font-family: 'Saira Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EDE9DC !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* black border */
.border-site {
    width: 1200px;
    height: 600px;
    border: 4px solid #121212;
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* that section has a gif and button */
.start-enter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* gif */
#gifstart {
    width: 400px;
    height: 300px;
    margin: 20px;
}

/* button enter division */
.button-enter {
    width: inherit;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button enter  */
#enter {
    border: none;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 17pt;
    font-weight: 500;
    letter-spacing: 8px;
    transition: 0.5s;
    position: relative;
    animation: moveButton 3s;
    background-color: #EDE9DC;
}

/* animation move button start */
@keyframes moveButton {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 0px;
        top: 0px;
    }

    50% {
        left: 0px;
        top: 50px;
        letter-spacing: 12px;

    }

    75% {
        left: 0px;
        top: 50px;
        letter-spacing: 4px;

    }

    100% {
        left: 0px;
        top: 0px;
    }
}

#enter:hover {
    border: none;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 17pt;
    font-weight: 500;
    letter-spacing: 4px;
    transition: 0.5s;
}

/* animation move button end */
/* start responsive for devices smaller than 576px */
@media screen and (max-width:576px) {
    .border-site {
        width: 270px;
        height: 270px;
        border: 4px solid #121212;
        margin: -100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #gifstart {
        width: 200px;
        height: 200px;
    }

    .start-enter-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    body {
        font-family: 'Saira Condensed', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #EDE9DC !important;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    /* button enter division */
    .button-enter {
        width: inherit;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* button enter  */
    #enter {
        border: none;
        font-family: 'Saira Condensed', sans-serif;
        font-size: 13pt;
        font-weight: 500;
        letter-spacing: 8px;
        transition: 0.5s;
        position: relative;
        animation: moveButton 3s;
        background-color: #EDE9DC;
    }

    /* animation move button start */
    @keyframes moveButton {
        0% {
            left: 0px;
            top: 0px;
        }

        25% {
            left: 0px;
            top: 0px;
        }

        50% {
            left: 0px;
            top: 20px;
            letter-spacing: 12px;

        }

        75% {
            left: 0px;
            top: 20px;
            letter-spacing: 4px;

        }

        100% {
            left: 0px;
            top: 0px;
        }
    }

    #enter:hover {
        border: none;
        font-family: 'Saira Condensed', sans-serif;
        font-size: 17pt;
        font-weight: 500;
        letter-spacing: 4px;
        transition: 0.5s;
    }
}