.border-site {
    width: 1200px;
    height: 600px;
    border: 4px solid #121212;
    margin: 50px;
    display: flex;
    justify-content: center;
}

.start-enter-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gifstart {
    width: 400px;
    height: 300px;
    margin: 100px;
}