html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Saira Condensed', sans-serif;
    background-color: #EDE9DC !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/* border website*/
.border-site {

    height: auto;
    border: 4px solid #121212;
    margin: 30px 20px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* CSS */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    flex-direction: row;
}

#brand {
    width: 130px;
    height: auto;
    margin: 0 auto;
    /* این خط اضافه شده است */
}

.carousel {
    width: 100%;
    height: auto;

}

#piccarousel {
    width: 100%;
    height: 700px;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

/* 
.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
} */

/* first line info about project*/
.row1 {
    width: 100%;
    height: 250px;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

ul {
    list-style: none;

}

.info1 {
    font-size: 15pt;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.detail1 {
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* second line info about project*/
.row2 {
    width: 100%;
    height: 250px;
    margin-top: 120px;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 3s forwards;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

ul {
    list-style: none;

}

.info2 {
    font-size: 15pt;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.detail2 {
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* third line info about project*/
.row3 {
    width: 100%;
    height: 300px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    animation: slideIn 3s forwards;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.info-about-project {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* start responsive for devices smaller than 576px */
@media (max-width: 576px) {

    /*carousel's pictures */
    .carousel {
        height: 250px;
    }

    #piccarousel {
        height: auto;
    }

    .row1 {
        height: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .info1,
    .detail1 {
        flex-direction: row;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    .info1 {
        display: flex;
        gap: 10px;
    }

    .detail1 {
        display: flex;
        gap: 20px;
    }

    .info1 li,
    .detail1 li {
        width: 100%;
        text-align: center;
    }

    /*scond row*/
    .row2 {
        margin-top: 150px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row3 {
        margin-top: 130px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info2,
    .detail2 {
        flex-direction: row;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    .info2 {
        display: flex;
        font-size: 14pt;
    }

    .detail2 {
        display: flex;
        gap: 20px;
        font-size: 14pt;
    }

    .info2 li,
    .detail2 li {
        width: 100%;
        text-align: center;
    }
}

/* end responsive for devices smaller than 576px */