html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    font-family: 'Saira Condensed', sans-serif;
    background-color: #EDE9DC !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;

}

/*icon humburger menu */
.humburgermenu {
    width: 100%;
    display: flex;
}

/* black border */
.border-site {
    width: 100%;
    min-height: 100vh;
    border: 4px solid #121212;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*first section has contact input and map*/
.row-first {
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
}

/*second section has icons social medi  and contact info*/

.row-second {
    width: 100%;
    min-height: 600px;
    flex-grow: 1;
    margin-top: -80px;
}

/* map*/
iframe {
    width: 100%;
    height: 80%;
}

/*contact us part with inouts*/
.contact-us {
    width: 50%;
    height: 100%;
}

/* division for map */
.map {
    width: 100%;
    height: 500px;
}

/* all inputs are there */
.part-inp-phone-name {
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}

/* input name and phonenumber*/
.for-name-and-phone {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    gap: 50px;
}

.button-send-msg {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    gap: 30px;
}

/* label name */
.forName {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/*label for phone*/
.for-phone {
    width: 50%;
    display: flex;
    flex-direction: column;


}

/*label for email*/
.for-email {
    width: 50%;
    display: flex;
    flex-direction: column;


}

/* label for subject*/
.for-subject {
    width: 50%;
    display: flex;
    flex-direction: column;


}

/* label for message */
.for-msgs {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* input email and subject*/

.for-email-and-subject {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    gap: 50px;
}

/* for button send*/

.for-msg-and-btnMsg {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

/*button*/
.bttn {
    height: 80px;
    display: flex;
    margin-top: 20px;
}

/*input name*/
#name {
    border-radius: 10px 10px 10px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 50px;
    width: 300px;
    border-bottom: 2px solid #B6B0A6;
    background-color: transparent;
}

/*input when user click and enter spmething in that input*/

#name:focus {
    border-radius: 10px 10px 10px 10px;

    border: none;
    outline: none;
    transition: 0.5s;
    border-bottom: 2px solid #121212;
}

/*phonenumber*/
#phone {
    border-radius: 10px 10px 10px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 50px;
    width: 200px;
    background-color: transparent;

    border-bottom: 2px solid #B6B0A6;
}

/*input when user click and enter spmething in that input*/

#phone:focus {
    border-radius: 10px 10px 10px 10px;

    border: none;
    outline: none;
    transition: 0.5s;
    border-bottom: 2px solid #121212;
}

label {
    width: 70px;
    text-align: center;
}

/*email*/
#email {
    border-radius: 10px 10px 10px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 50px;
    width: 300px;
    background-color: transparent;

    border-bottom: 2px solid #B6B0A6;
}

/*input when user click and enter spmething in that input*/

#email:focus {
    border-radius: 10px 10px 10px 10px;

    border: none;
    outline: none;
    transition: 0.5s;
    border-bottom: 2px solid #121212;
}

/*subject*/
#subject {
    border-radius: 10px 10px 10px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 50px;
    width: 200px;
    background-color: transparent;

    border-bottom: 2px solid #B6B0A6;
}

/*input when user click and enter spmething in that input*/

#subject:focus {
    border-radius: 10px 10px 10px 10px;

    border: none;
    outline: none;
    transition: 0.5s;
    border-bottom: 2px solid #121212;
}

/*message*/
#message {
    border-radius: 10px 10px 10px 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 100px;
    width: 500px;
    background-color: transparent;

    border-bottom: 2px solid #B6B0A6;
}

/*input when user click and enter spmething in that input*/

#message:focus {
    border-radius: 10px 10px 10px 10px;

    border: none;
    outline: none;
    transition: 0.5s;
    border-bottom: 2px solid #121212;
}

/*button send message*/
button {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #B6B0A6;
    cursor: pointer;
    transition: 0.25s;
}

/*when user hover on button send message*/

button:hover {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 4px solid #B6B0A6;
    cursor: pointer;
    transition: 0.25s;
}

/*division for social media icons*/
.icons-social-media {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/*instagram icon*/
.instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*linkedin icon*/

.linkedin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

/*email icon*/

.email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

/* part contact info */
.contact-info {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
    text-align: center;
}

/*icons and details location company phonenumber and email address*/
.location,
.call-company,
.email-text {
    width: 20%;
    height: auto;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

/* start line between contact info and social media */
hr {
    width: 70%;
    height: 20px;
    stroke-width: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.for-line {
    width: 100%;
    stroke-width: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* end line between contact info and social media */

/* start responsive for devices smaller than 576px */

@media screen and (max-width:576px) {


    /* black border */
    .border-site {
        width: 100%;
        min-height: 100vh;
        border: 4px solid #121212;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /*start 2 sections*/

    .row-first {
        width: 100%;
        min-height: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
    }

    .row-second {
        width: 100%;
        min-height: 800px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    /*end 2 sections*/

    .contact-us {
        width: 100%;
        padding: 0;
    }

    .part-inp-phone-name {
        padding: 1rem;
    }

    .for-name-and-phone,
    .for-email-and-subject,
    .for-msg-and-btnMsg {
        flex-direction: column;
        gap: 1rem;
    }

    /* all label*/
    .forName,
    .for-phone,
    .for-email,
    .for-subject,
    .for-msgs {
        width: 100%;
    }

    .bttn {
        text-align: center;
    }

    /*start all inputs*/
    #message {
        border-radius: 10px 10px 10px 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 100px;
        width: 300px;
        background-color: transparent;

        border-bottom: 2px solid #B6B0A6;
    }

    #name {
        border-radius: 10px 10px 10px 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 50px;
        width: 200px;
        border-bottom: 2px solid #B6B0A6;
        background-color: transparent;
    }

    /*end all inputs*/
    /*map*/
    .map {
        width: 90%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -140px;
        flex-direction: column;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    .contact-info {
        width: 100%;
        height: 200px;
        margin-top: 20px;
        padding: 1rem;
    }

    .location,
    .call-company,
    .email-text {
        width: 100%;
        justify-content: center;
        text-align: center;

    }

    .icons-social-media {
        flex-direction: column;
        gap: 20px;
        height: 290px;
        display: flex;
    }

    .instagram,
    .linkedin,
    .email {
        width: 100%;
        gap: 10px;
    }

    /*start line */
    hr {
        width: 90%;
    }

    .for-line {
        width: 100%;
    }

    /*end line */

}

/* end responsive for devices smaller than 576px */
/* start responsive for devices greather than 577px and smaller than 768px */
@media screen and (min-width:577px) and (max-width:768px) {

    /* black border */
    .border-site {
        width: 100%;
        min-height: 100vh;
        border: 4px solid #121212;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /*start 2 sections*/

    .row-first {
        width: 100%;
        min-height: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;
    }

    .row-second {
        width: 100%;
        min-height: 800px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    /*end 2 sections*/

    .contact-us {
        width: 100%;
        padding: 0;
    }

    .part-inp-phone-name {
        padding: 1rem;
    }

    .for-name-and-phone,
    .for-email-and-subject,
    .for-msg-and-btnMsg {
        flex-direction: column;
        gap: 1rem;
    }

    /*all labels*/
    .forName,
    .for-phone,
    .for-email,
    .for-subject,
    .for-msgs {
        width: 100%;
    }

    .bttn {
        text-align: center;
    }

    /*start all inputs*/

    #message {
        border-radius: 10px 10px 10px 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 100px;
        width: 500px;
        background-color: transparent;

        border-bottom: 2px solid #B6B0A6;
    }

    #name {
        border-radius: 10px 10px 10px 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 50px;
        width: 300px;
        border-bottom: 2px solid #B6B0A6;
        background-color: transparent;
    }

    /*end all inputs*/

    .map {
        width: 90%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -140px;
        flex-direction: column;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    .contact-info {
        width: 100%;
        height: 200px;
        margin-top: 20px;
        padding: 1rem;
    }

    /*icon locartion and phonennumber company email address*/
    .location,
    .call-company,
    .email-text {
        width: 100%;
        justify-content: center;
        text-align: center;

    }

    .icons-social-media {
        flex-direction: column;
        gap: 20px;
        height: 290px;
        display: flex;
    }

    /* icons instagram and linkedin and email*/
    .instagram,
    .linkedin,
    .email {
        width: 100%;
        gap: 10px;
    }

    /*line*/
    hr {
        width: 90%;
    }

    .for-line {
        width: 100%;
    }
}

/* start responsive for devices greather than 577px and smaller than 768px */
@media screen and (min-width:769px) and (max-width:992px) {

    /* black border */
    .border-site {
        width: 100%;
        min-height: 100vh;
        border: 4px solid #121212;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /*start 2 sections*/

    .row-first {
        width: 100%;
        min-height: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-grow: 1;
    }

    .row-second {
        width: 100%;
        min-height: 800px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    /*end 2 sections*/

    .contact-us {
        width: 50%;
        padding: 0;
        /* حذف padding */
        font-size: 15pt;
    }

    .part-inp-phone-name {
        padding: 1rem;
    }

    .for-name-and-phone,
    .for-email-and-subject,
    .for-msg-and-btnMsg {
        flex-direction: column;
        gap: 1rem;
    }

    .forName,
    .for-phone,
    .for-email,
    .for-subject,
    .for-msgs {
        width: 100%;
    }

    .bttn {
        text-align: center;
    }

    /*start all inputs*/

    #message {
        border-radius: 10px 10px 10px 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 100px;
        width: 400px;
        background-color: transparent;

        border-bottom: 2px solid #B6B0A6;
    }

    #name {
        border-radius: 10px 10px 10px 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 50px;
        width: 300px;
        border-bottom: 2px solid #B6B0A6;
        background-color: transparent;
    }

    /*end all inputs*/

    .map {
        width: 90%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -140px;
        flex-direction: column;
    }

    iframe {
        width: 90%;
        height: 400px;
    }

    .contact-info {
        width: 100%;
        height: 200px;
        margin-top: 20px;
        padding: 1rem;
        font-size: 15pt;
    }

    .location,
    .call-company,
    .email-text {
        width: 100%;
        justify-content: center;
        text-align: center;
        font-size: 17pt;

    }

    .icons-social-media {
        flex-direction: column;
        gap: 20px;
        height: 290px;
        display: flex;
        font-size: 15pt;

    }

    .instagram,
    .linkedin,
    .email {
        width: 100%;
        gap: 10px;
    }

    /*line*/
    hr {
        width: 90%;
    }

    .for-line {
        width: 100%;
    }
}

/* end responsive for devices greather than 577px and smaller than 768px */
/* start responsive for devices greather than 993px and smaller than 1200px */
@media screen and (min-width:993px) and (max-width:1200px) {

    /* black border */
    .border-site {
        width: 100%;
        min-height: 100vh;
        border: 4px solid #121212;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /*start 2 sections*/

    .row-first {
        width: 100%;
        min-height: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-grow: 1;
    }

    .row-second {
        width: 100%;
        min-height: 800px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    /*end 2 sections*/

    .contact-us {
        width: 50%;
        padding: 0;
        /* حذف padding */
        font-size: 15pt;
    }

    .part-inp-phone-name {
        padding: 1rem;
    }

    .for-name-and-phone,
    .for-email-and-subject,
    .for-msg-and-btnMsg {
        flex-direction: column;
        gap: 1rem;
    }

    .forName,
    .for-phone,
    .for-email,
    .for-subject,
    .for-msgs {
        width: 100%;
    }

    .bttn {
        text-align: center;
    }

    /*start all inputs*/

    #message {
        border-radius: 10px 10px 10px 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 100px;
        width: 400px;
        background-color: transparent;

        border-bottom: 2px solid #B6B0A6;
    }

    #name {
        border-radius: 10px 10px 10px 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 50px;
        width: 300px;
        border-bottom: 2px solid #B6B0A6;
        background-color: transparent;
    }

    /*end all inputs*/

    .map {
        width: 90%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -140px;
        flex-direction: column;
    }

    iframe {
        width: 90%;
        height: 400px;
    }

    .contact-info {
        width: 100%;
        height: 200px;
        margin-top: 20px;
        padding: 1rem;
        font-size: 15pt;
    }

    .location,
    .call-company,
    .email-text {
        width: 100%;
        justify-content: center;
        text-align: center;
        font-size: 20pt;

    }

    .icons-social-media {
        flex-direction: column;
        gap: 20px;
        height: 290px;
        display: flex;
        font-size: 15pt;

    }

    .instagram,
    .linkedin,
    .email {
        width: 100%;
        gap: 10px;
    }

    hr {
        width: 90%;
    }

    .for-line {
        width: 100%;
    }
}

/* end responsive for devices greather than 993px and smaller than 1200px */
/* start  responsive for devices greather than 1201px  */
@media screen and (min-width:1201px) {

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    body {
        font-family: 'Saira Condensed', sans-serif;
        background-color: #EDE9DC !important;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;

    }

    .humburgermenu {
        width: 100%;
        display: flex;
    }

    /* black border */
    .border-site {
        width: 100%;
        min-height: 100vh;
        border: 4px solid #121212;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /*start 2 sections*/
    .row-first {
        width: 100%;
        min-height: 450px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-grow: 1;
    }

    .row-second {
        width: 100%;
        min-height: 500px;
        flex-grow: 1;
        margin-top: -80px;
    }

    /*end 2 sections*/

    iframe {
        width: 100%;
        height: 80%;
    }

    .contact-us {
        width: 50%;
        height: 100%;
    }

    .map {
        width: 100%;
        height: 500px;
    }


    .part-inp-phone-name {
        width: 100%;
        height: 100%;
        gap: 10px;
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem;
    }

    .for-name-and-phone {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        gap: 50px;
    }

    /* button send message*/

    .button-send-msg {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        gap: 30px;
    }

    /* start all label*/
    .forName {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .for-phone {
        width: 50%;
        display: flex;
        flex-direction: column;


    }

    .for-email {
        width: 50%;
        display: flex;
        flex-direction: column;


    }

    .for-subject {
        width: 50%;
        display: flex;
        flex-direction: column;


    }

    .for-msgs {
        width: 50%;
        height: 100px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }


    .for-email-and-subject {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        gap: 50px;
    }

    .for-msg-and-btnMsg {
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    /* end all label*/

    .bttn {
        height: 80px;
        display: flex;
        margin-top: 20px;
    }

    /*start all inputs*/
    #name {
        border-radius: 10px 10px 10px 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 50px;
        width: 300px;
        border-bottom: 2px solid #B6B0A6;
        background-color: transparent;
    }

    #name:focus {
        border-radius: 10px 10px 10px 10px;

        border: none;
        outline: none;
        transition: 0.5s;
        border-bottom: 2px solid #121212;
    }

    /*phonenumber*/
    #phone {
        border-radius: 10px 10px 10px 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 50px;
        width: 200px;
        background-color: transparent;

        border-bottom: 2px solid #B6B0A6;
    }

    #phone:focus {
        border-radius: 10px 10px 10px 10px;

        border: none;
        outline: none;
        transition: 0.5s;
        border-bottom: 2px solid #121212;
    }

    label {
        width: 70px;
        text-align: center;
    }

    /*email*/
    #email {
        border-radius: 10px 10px 10px 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 50px;
        width: 300px;
        background-color: transparent;

        border-bottom: 2px solid #B6B0A6;
    }

    #email:focus {
        border-radius: 10px 10px 10px 10px;

        border: none;
        outline: none;
        transition: 0.5s;
        border-bottom: 2px solid #121212;
    }

    /*subject*/
    #subject {
        border-radius: 10px 10px 10px 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 50px;
        width: 200px;
        background-color: transparent;

        border-bottom: 2px solid #B6B0A6;
    }

    #subject:focus {
        border-radius: 10px 10px 10px 10px;

        border: none;
        outline: none;
        transition: 0.5s;
        border-bottom: 2px solid #121212;
    }

    /*message*/
    #message {
        border-radius: 10px 10px 10px 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        height: 100px;
        width: 500px;
        background-color: transparent;

        border-bottom: 2px solid #B6B0A6;
    }

    #message:focus {
        border-radius: 10px 10px 10px 10px;

        border: none;
        outline: none;
        transition: 0.5s;
        border-bottom: 2px solid #121212;
    }

    /*end all inputs*/


    /* button send message*/
    button {
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid #B6B0A6;
        cursor: pointer;
        transition: 0.25s;
    }

    /* button send message after hover*/

    button:hover {
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 4px solid #B6B0A6;
        cursor: pointer;
        transition: 0.25s;
    }

    .icons-social-media {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    .instagram {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .linkedin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }

    .email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }

    .contact-info {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        margin-top: 60px;
        text-align: center;
    }

    .location,
    .call-company,
    .email-text {
        width: 100%;
        justify-content: center;
        text-align: center;
        font-size: 13pt;


    }

    /*line between contact info and social media icons*/
    hr {
        width: 70%;
        height: 20px;
        stroke-width: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .for-line {
        width: 100%;
        stroke-width: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* end responsive for devices greather than 1201px  */